/*
 * Component: Dropdown menus
 * -------------------------
 */
/*Dropdowns in general*/
.dropdown-test {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-test > li > a {
  color: #777;
}
/*.dropdown-test > li > a > .glyphicon,
.dropdown-test > li > a > .fa,
.dropdown-test > li > a > .ion {
  margin-right: 10px;
}*/
.dropdown-test > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-test > .divider {
  background-color: #eee;
}
.dropdown-test {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
 .dropdown-test > li {
  position: relative;
}
 .dropdown-test > li.header {
  border-top-left-radius: 4px;
 /* border-top-right-radius: 4px;
  border-bottom-right-radius: 0;*/
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
/* .dropdown-test > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444!important;
  text-align: center;
}*/
@media (max-width: 991px) {
   .dropdown-test > li.footer > a {
    background: #fff!important;
    color: #444!important;
  }
}
/* .dropdown-test > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}*/
 .dropdown-test > li .menu {
  max-height: 305px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  width: 100%;
}
 .dropdown-test > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
 .dropdown-test > li .menu > li > a:hover {
  background-color: #edff38 !important;
  text-decoration: none;
}
 .dropdown-test > li .menu > li > a {
  color: #444444;
   background-color: #ffffff !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
/* .dropdown-test > li .menu > li > a > .glyphicon,
 .dropdown-test > li .menu > li > a > .fa,
 .dropdown-test > li .menu > li > a > .ion {
  width: 20px;
}
*/