
/****/
.container-main-frame{
	background-size: 100% auto;
	background-size:cover;
}
iframe[name="mainFrame"] {
    width: calc(100% + 30px);
/*    height: calc(100vh - 160px);*/
    height: calc(100vh - 136px);
    border: none;
    display: block;
	
	margin-left: -15px;
	margin-right: -15px;
}
